<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
    <title>Library</title>
  </head>
    <body>
      <div class="container">
        <div class="navigation">

          <h1>Zappos</h1>
          <hr>
          <br><br><br>

            <h4>Are looking for a</h4>

              <a href="/shoe_stores" type="submit" class="waves-effect waves-light btn-large">Shoe Store</a>

            <h4>or for a particular shoe:</h4>

              <a href="/brands" type="submit" class="waves-effect waves-light btn-large">Brand</a>

        </div>
      </div>
  </body>
</html>
