<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
    <title>Zappos</title>
  </head>
  <body>
    <div class="container">
      <h3>Stores listed:</h3>
        {% if shoe_stores is not empty %}
          <ul>
            {% for store in shoe_stores %}
              <a href="/store/{{ store.getId }}"><li>{{ store.getName }}</li></a>
            {% endfor %}
          </ul>
            {% else %}
              <p>There are no stores listed</p>
        {% endif %}
      <div class="add-features">
         <div class="row">
          <div class="col s12">
            <h5>Add Store</h5>
              <form action="/add_store" method="post">
                <label for="name">Store name:</label>
                <input type="text" name="name" id="name">
                </br>
                <button type="submit" class="waves-effect waves-light btn-large" name="button">Submit</button>
              </form>
              <br>
              <form action="/delete_all_stores" method="post" class='form-group'>
                <button type="submit" class="waves-effect waves-light btn-large" name="button">Delete all</button>
              </form>
              <br>
              <a href="/" type="submit" class="waves-effect waves-light btn-large" name="button">Home</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
